<template>
    <div>
        <div id="canvas-container" style="background-color:white; border: 1px black solid;" v-bind:style="{width: width, height: height, backgroundImage: 'url(' + background_image + ')'}">
            <canvas id="signature-canvas" ref="signaturePadCanvas">
            </canvas>
        </div>
    </div>
</template>
<script>
import SignaturePad from 'signature_pad';
import mergeImages from 'merge-images';
import {
    DEFAULT_OPTIONS,
    TRANSPARENT_PNG,
    checkSaveType,
    convert2NonReactive,
    PAD_STATES
} from '../utils/index';

export default {
    PAD_STATES: PAD_STATES,
    name: 'VueSignaturePad',
    
    props: {
        width: {
            type: String,
            default: '100%'
        },
        height: {
            type: String,
            default: '100%'
        },
        customStyle: {
            type: Object
        },
        saveType: {
            type: String,
            default: 'image/png'
        },
        options: {
            type: Object,
            default: () => ({})
        },
        background_image: {
            type: String,
            default: ''
        },
        images: {
            type: Array,
            default: () => []
        }
    },
    data: () => ({
        signaturePad: {},
        cacheImages: [],
        signatureData: TRANSPARENT_PNG,
        onResizeHandler: null,
        pad_state: PAD_STATES.EMPTY
    }),
    mounted() {
        const { options } = this;
        const canvas = this.$refs.signaturePadCanvas;
        const signaturePad = new SignaturePad(canvas, {
            ...DEFAULT_OPTIONS,
            ...options,
            ...{ onEnd: e => { this.pad_state = PAD_STATES.DRAWN } }
        });

        this.signaturePad = signaturePad;
        this.onResizeHandler = this.resizeCanvas.bind(this);
        window.addEventListener('resize', this.onResizeHandler, false);
        this.resizeCanvas();
    },
    beforeDestroy() {
        if (this.onResizeHandler) {
            window.removeEventListener('resize', this.onResizeHandler, false);
        }
    },
    methods: {
        resizeCanvas() {
            const canvas = this.$refs.signaturePadCanvas;
            const data = this.signaturePad.toData();
            var data_url = this.signaturePad.toDataURL(this.saveType);
            const ratio = Math.max(window.devicePixelRatio || 1, 1);
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas.getContext('2d').scale(ratio, ratio);
            this.signaturePad.clear();

            this.signatureData = TRANSPARENT_PNG;
            this.signaturePad.fromData(data);
        },
        saveSignature() {
            const { signaturePad, saveType } = this;
            const status = { isEmpty: false, data: undefined };

            if (!checkSaveType(saveType)) {
                throw new Error('Image type is incorrect!');
            }

            if (signaturePad.isEmpty()) {
                return {
                    ...status,
                    isEmpty: true
                };
            } else {
                this.signatureData = signaturePad.toDataURL(saveType);
                return {
                    ...status,
                    data: this.signatureData,
                };
            }
        },
        undoSignature() {
            const { signaturePad } = this;
            const record = signaturePad.toData();

            if (record) {
                var undone_record = record.slice(0, -1);
                if(undone_record.length < 1){
                    this.pad_state = PAD_STATES.EMPTY;
                }
                return signaturePad.fromData(undone_record);
            }
            else{
                this.pad_state = PAD_STATES.EMPTY;
            }
        },
        mergeImageAndSignature(customSignature) {
            this.signatureData = customSignature;

            return mergeImages([
                ...this.images,
                ...this.cacheImages,
                this.signatureData
            ]);
        },
        addImages(images = []) {
            this.cacheImages = [...this.cacheImages, ...images];
            return mergeImages([
                ...this.images,
                ...this.cacheImages,
                this.signatureData
            ]);
        },
        fromDataURL(data) {
            return this.signaturePad.fromDataURL(data);
        },
        lockSignaturePad() {
            return this.signaturePad.off();
        },
        openSignaturePad() {
            return this.signaturePad.on();
        },
        isEmpty() {
            return this.signaturePad.isEmpty();
        },
        getPropImagesAndCacheImages() {
            return this.propsImagesAndCustomImages;
        },
        clearCacheImages() {
            this.cacheImages = [];

            return this.cacheImages;
        },
        clearSignature() {
            this.pad_state = PAD_STATES.EMPTY;
            return this.signaturePad.clear();
        }
    },
    computed: {
        propsImagesAndCustomImages() {
            const nonReactiveProrpImages = convert2NonReactive(this.images);
            const nonReactiveCachImages = convert2NonReactive(this.cacheImages);

            return [...nonReactiveProrpImages, ...nonReactiveCachImages];
        }
    },
    watch:{
        pad_state: function(new_val, old_val){
            this.$emit('state-change', new_val);
        }
    }
};
</script>
<style>
#canvas-container {}

#signature-canvas {
    width: 100%;
    height: 100%;
}
</style>